button#send_verify_code{
    padding:0px;
}
.lost_reset_password .col{
    padding:0px 5px;
}
.lost_password_area{
  padding:0 15px;
}
.lost_reset_password .title{
    margin:20px 0px;
}
#login-form-popup input,
#login-form-popup select{
    border-radius:5px;
}
.page-wrapper.lost_password{
    margin-top: 60px;
}

/*登入、註冊 必填選填*/
.gc-required-font-login{
    text-align: center;
    font: normal normal normal 10px/14px Noto Sans TC;
    color: #FFFFFF;
    padding: 3px 8px;
    font-size: x-small;
    display: -webkit-inline-box;
    background: #E65959 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}